@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

header .drawerButton {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #bfae9f;
  position: fixed;
  top: 24px;
  right: 16px;
  z-index: 10000;
  display: none;
}
@media (width <= 800px) {
  header .drawerButton {
    display: flex;
  }
}
header .drawerButton span {
  display: block;
  width: 38px;
  height: 4px;
  background-color: #fcf5e3;
  border-radius: 4px;
  position: absolute;
  transition: 0.3s all linear;
}
header .drawerButton span:nth-child(1) {
  top: 10px;
  inset-inline: 0;
  margin-inline: auto;
}
header .drawerButton span:nth-child(2) {
  inset: 0;
  margin: auto;
}
header .drawerButton span:nth-child(3) {
  bottom: 10px;
  inset-inline: 0;
  margin-inline: auto;
}
header .drawerButton:hover {
  background-color: rgba(85, 6, 179, 0.4);
}
header .drawerButton.active span:nth-child(1) {
  transform-origin: left top;
  transform: rotate(45deg);
  left: 13px;
}
header .drawerButton.active span:nth-child(2) {
  transform: scale(0);
}
header .drawerButton.active span:nth-child(3) {
  transform-origin: left bottom;
  transform: rotate(-45deg);
  left: 13px;
}

.drawerMenu.active {
  top: 0;
}

body#yamadaWrapper {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body#yamadaWrapper .cover-home {
  background-image: url(../images/texture2.png);
  background-repeat: repeat;
  width: 100%;
  min-width: 800px;
  position: fixed;
  top: 0;
  z-index: 1000000000;
}
@media (width <= 800px) {
  body#yamadaWrapper .cover-home {
    width: 100%;
    min-width: auto;
    height: auto;
  }
}
@media (width <= 800px) and (width <= 430px) {
  body#yamadaWrapper .cover-home {
    width: 100%;
    height: auto;
  }
}
body#yamadaWrapper .cover-home .page-header {
  align-items: center;
  justify-content: space-between;
  position: relative;
  display: flex;
}
@media (width <= 800px) {
  body#yamadaWrapper .cover-home .page-header {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}
body#yamadaWrapper .cover-home .hd-wraper01,
body#yamadaWrapper .cover-home .hd-wraper02 {
  display: flex;
  align-items: center;
}
@media (width <= 800px) {
  body#yamadaWrapper .cover-home .hd-wraper01,
  body#yamadaWrapper .cover-home .hd-wraper02 {
    flex-direction: column;
    align-items: center;
  }
}
body#yamadaWrapper .cover-home .sp-show {
  display: none;
  text-align: center;
}
body#yamadaWrapper .cover-home .sp-show img {
  width: 100%;
  height: auto;
  max-width: 100px;
  padding-block-end: 52px;
}
@media (width <= 800px) {
  body#yamadaWrapper .cover-home .sp-show {
    display: block;
  }
}
body#yamadaWrapper .cover-home .buy-wrapper {
  flex-shrink: 0;
}
body#yamadaWrapper .cover-home .buy-wrapper .btn {
  display: block;
  padding-block: 16px;
  padding-inline: 52px;
  margin-inline-start: 80px;
  margin-inline-end: 32px;
  margin-block: 64px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: #bfae9f;
  color: #fcf5e3;
  border-radius: 32px;
  transition: background-color 0.3s ease;
}
@media (width <= 800px) {
  body#yamadaWrapper .cover-home .buy-wrapper .btn {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}
@media (width <= 800px) and (width <= 430px) {
  body#yamadaWrapper .cover-home .buy-wrapper .btn {
    font-size: 16px;
    margin-block: 52px;
    padding-block: 16px;
    padding-inline: 45px;
  }
}
body#yamadaWrapper .cover-home .btn:hover {
  background-color: rgba(85, 6, 179, 0.6);
}
body#yamadaWrapper .cover-home .logo {
  width: 130px;
  height: 130px;
  margin-inline-start: 16px;
  margin-block-start: 16px;
  margin-inline-end: 50px;
}
@media (width <= 800px) {
  body#yamadaWrapper .cover-home .logo {
    position: absolute; /* 親要素を基準に配置 */
    top: 8px;
    left: 8px;
    margin: 0;
    width: 100px;
    height: 100px;
  }
}
@media (width <= 800px) and (width <= 430px) {
  body#yamadaWrapper .cover-home .logo {
    width: 70px;
    height: 70px;
    top: 16px;
    left: 16px;
  }
}
body#yamadaWrapper .cover-home .drawerMenu {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: -150vh;
  right: 0;
  transition: top 0.3s ease-out;
  position: static;
  height: auto;
}
@media (width <= 800px) {
  body#yamadaWrapper .cover-home .drawerMenu {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(240, 240, 240, 0.9019607843);
    z-index: 9999;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    transition: opacity 0.3s ease;
  }
  body#yamadaWrapper .cover-home .drawerMenu.active {
    display: flex !important;
    opacity: 1;
    padding-block-start: 100px;
  }
}
body#yamadaWrapper .cover-home .drawerMenu .drawerMenu-nv {
  display: block;
  height: auto;
  position: static;
}
body#yamadaWrapper .cover-home .drawerMenu .main-nav {
  display: flex;
  justify-content: space-around;
}
@media (width <= 800px) {
  body#yamadaWrapper .cover-home .drawerMenu .main-nav {
    flex-direction: column;
    text-align: center;
    gap: 64px;
    padding-block-end: 40px;
    margin-block-start: 0;
  }
}
@media (width <= 800px) and (width <= 430px) {
  body#yamadaWrapper .cover-home .drawerMenu .main-nav {
    font-size: 24px;
    gap: 20px;
    margin-block: 16px;
    margin-block-end: 54px;
  }
}
body#yamadaWrapper .cover-home .drawerMenu .main-nav li {
  list-style: none;
}
body#yamadaWrapper .cover-home .drawerMenu .main-nav li a {
  text-decoration: none;
  display: block;
  font-size: 32px;
  color: #593622;
  padding-inline: 2rem;
}
@media (width <= 430px) {
  body#yamadaWrapper .cover-home .drawerMenu .main-nav li a {
    font-size: 24px;
  }
}
body#yamadaWrapper .cover-home .drawerMenu .main-nav li a:hover {
  color: rgba(85, 6, 179, 0.6);
}
body#yamadaWrapper .cover-home .drawerMenu .sns-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body#yamadaWrapper .cover-home .drawerMenu .sns-nav li {
  margin-block: 64px;
  padding-inline: 20px;
}
@media (width <= 800px) {
  body#yamadaWrapper .cover-home .drawerMenu .sns-nav li {
    margin-block: 0;
  }
}
body#yamadaWrapper .cover-home .drawerMenu .sns-nav li a img {
  width: 40px;
  height: auto;
}
@media (width <= 430px) {
  body#yamadaWrapper .cover-home .drawerMenu .sns-nav li a img {
    width: 30px;
  }
}
body#yamadaWrapper .cover-home .drawerMenu .sns-nav li a img:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-block-start: 80px;
}
footer #home-logo a {
  display: inline-block;
  line-height: 0;
  padding: 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
footer #home-logo a:hover {
  transform: scale(1.3);
}
footer #home-logo .logo {
  width: 84px;
  height: 84px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
footer .sns-wrap {
  padding-block: 35px;
  margin-block-end: 80px;
}
footer .sns-nav {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
footer .sns-nav li {
  list-style: none;
}
footer .sns-nav li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
footer .sns-nav li a:hover {
  transform: scale(1.3);
}
footer .sns-nav img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

@font-face {
  font-family: "JejuHallasan";
  src: url("../fonts/JejuHallasan.ttf.woff") format("woff");
}
html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

img {
  height: auto;
}

body {
  background-color: #e9ead3;
}
body #Reservation {
  padding-block-start: 200px;
  font-family: "JejuHallasan";
  color: #593622;
  font-size: 50px;
  line-height: 18px;
  text-align: center;
  text-shadow: 3px 0 0 #fcf5e3, -3px 0 0 #fcf5e3, 0 3px 0 #fcf5e3, 0 -3px 0 #fcf5e3, 2px 0 0 #fcf5e3, -2px 0 0 #fcf5e3, 0 2px 0 #fcf5e3, 0 -2px 0 #fcf5e3, 1px 0 0 #fcf5e3, -1px 0 0 #fcf5e3, 0 1px 0 #fcf5e3, 0 -1px 0 #fcf5e3, 3px 3px 0 #fcf5e3, -3px 3px 0 #fcf5e3, 3px -3px 0 #fcf5e3, -3px -3px 0 #fcf5e3, 2.5px 2.5px 0 #fcf5e3, -2.5px 2.5px 0 #fcf5e3, 2.5px -2.5px 0 #fcf5e3, -2.5px -2.5px 0 #fcf5e3, 1.5px 1.5px 0 #fcf5e3, -1.5px 1.5px 0 #fcf5e3, 1.5px -1.5px 0 #fcf5e3, -1.5px -1.5px 0 #fcf5e3;
}
@media (width >= 800px) {
  body #Reservation {
    padding-block-start: 280px;
  }
}
body .reservation-top {
  width: 100%;
  height: 271px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .reservation-top img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 195px;
  height: 271px;
  -o-object-fit: cover;
     object-fit: cover;
}
body #Reservation {
  text-align: center;
}
body .reservation-wrapper {
  max-width: 254px;
}
body #Dine-in,
body #Take-out {
  width: 358px;
  min-height: 599px;
}
body .dinein-block,
body .takeout-block {
  border-radius: 15px;
  text-align: left;
}
body .dinein-block .form,
body .takeout-block .form {
  max-width: 254px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body .dinein-block .form label,
body .takeout-block .form label {
  font-size: 16px;
  font-family: "Stick", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
body .dinein-block .form input,
body .dinein-block .form select,
body .takeout-block .form input,
body .takeout-block .form select {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  color: #593622;
}
body .dinein-block .form label select,
body .takeout-block .form label select {
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
}
body button.btn {
  margin-block-start: 30px;
  margin-block-end: 50px;
}
body .menu-serect {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 8px;
}
body #add-menu-btn {
  color: #593622;
}
body .remove-btn {
  color: #593622;
}
body #Dine-in::before {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-17px, -64px) rotate(91deg);
}
body #Dine-in::after {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(19px, 63px) rotate(272deg);
}
body #Take-out::before {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-17px, -64px) rotate(91deg);
}
body #Take-out::after {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(19px, 63px) rotate(272deg);
}
body #Attention {
  width: 358px;
  height: 1133px;
}
body #Attention .heading {
  padding-inline-start: 50px;
}
body #Attention .attention-item {
  display: flex;
  flex-direction: column;
}
body #Attention .attention-item h3 {
  display: inline-block;
  align-self: flex-start;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  border-bottom: 2px solid #593622;
  margin-block-start: 40px;
  text-align: left;
}
body #Attention .attention-item ul {
  padding: 0;
  padding-inline-start: 1.5rem;
  padding-block-start: 2.5rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
body #Attention .attention-item ul li::marker {
  font-size: 10px;
  vertical-align: middle;
}
body #Attention .attention-item p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding-block-start: 1.5rem;
}
body #Attention::before {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-17px, -64px) rotate(91deg);
}
body #Attention::after {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(19px, 63px) rotate(272deg);
}

@font-face {
  font-family: "JejuHallasan";
  src: url("../fonts/JejuHallasan.ttf.woff") format("woff");
}
html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

img {
  height: auto;
}

body {
  background-color: #e9ead3;
}
body #top-img {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: center;
}
@media (width >= 800px) {
  body #top-img {
    padding-block-start: 200px;
  }
}
body #top-img img {
  width: 390px;
  height: 680px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (width <= 800px) {
  body #top-img img {
    margin-block-start: 100px;
  }
}
body .section-design {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: center;
  background-color: #fcf5e3;
  border-radius: 20px;
  margin: 32px auto;
  color: #593622;
  text-align: center;
  padding-block: 1rem;
  padding-inline: 1rem;
  position: relative;
  scroll-margin-top: 100px;
}
body #Concept {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-image: url(../images/texture2.png);
  background-repeat: no-repeat;
  width: 340px;
  height: 540px;
  border-radius: 20px;
  margin-inline: auto;
  margin-block-end: 20px;
  position: relative;
  color: #593622;
  scroll-margin-top: 100px;
}
body #Concept p {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  padding-inline: 16px;
}
body #Concept::before {
  content: "";
  background-image: url(../images/decoration2.png);
  background-size: contain;
  display: block;
  width: 340px;
  height: 63.38px;
  position: absolute;
  top: -20px;
}
body #Concept::after {
  content: "";
  background-image: url(../images/decoration2.png);
  background-size: contain;
  display: block;
  width: 340px;
  height: 63.38px;
  position: absolute;
  bottom: -20px;
  transform: rotateX(180deg);
}
body #Concept-hd {
  font-size: 22px;
  font-weight: 900;
  line-height: 34px;
  text-align: center;
  padding-inline: 16px;
  padding-block-end: 75px;
}
body .Reserve-btn {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
body .Reserve-btn a.btn,
body .Reserve-btn button.btn {
  display: block;
  width: 236px;
  height: 61px;
  padding-block: 19px;
  padding-inline: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background-image: url(../images/texture1.png);
  background-blend-mode: multiply;
  color: #593622;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}
body .Reserve-btn .btn:hover {
  background-color: rgba(85, 6, 179, 0.6);
}
body #shop-counter {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: center;
}
body #shop-counter img {
  width: 390px;
  height: 249px;
  -o-object-fit: cover;
     object-fit: cover;
}
body #Special {
  width: 358px;
  height: 1027px;
}
body #Special img {
  width: 333px;
  height: 503.5px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
body #Special::before {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-17px, -64px) rotate(91deg);
}
body #Special::after {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(19px, 63px) rotate(272deg);
}
body .heading {
  position: relative;
  top: -35px;
  left: -90px;
  font-family: "JejuHallasan";
  font-size: 36px;
  line-height: 1;
  color: #6b7a47;
  margin-bottom: 0.75rem;
  text-shadow: 2px 0 0 #fcf5e3, -2px 0 0 #fcf5e3, 0 2px 0 #fcf5e3, 0 -2px 0 #fcf5e3, 1.5px 1.5px 0 #fcf5e3, -1.5px 1.5px 0 #fcf5e3, 1.5px -1.5px 0 #fcf5e3, -1.5px -1.5px 0 #fcf5e3;
}
body .SpecialMenu-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
body .menu-title {
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  text-align: left;
  margin-bottom: 0.25rem;
}
body .menu-price {
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  text-align: right;
}
body .menu-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #sp-bottom {
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  color: #6b7a47;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  padding-block-end: 2rem;
  padding-inline-end: 1rem;
  -webkit-text-decoration: underline wavy;
          text-decoration: underline wavy;
  text-underline-offset: 2px;
}
body .no-takeout {
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  color: #d32929;
  padding-block-end: 1.5rem;
}
body .reward {
  font-weight: 700;
  color: #593622;
}
body #period {
  color: #593622;
}
body p {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
}
body #Menu {
  width: 358px;
  height: 2929px;
}
body #Menu .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-block-end: 1rem;
}
body #Menu::before {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-17px, -64px) rotate(91deg);
}
body #Menu::after {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(19px, 63px) rotate(272deg);
}
body .menu-item {
  margin-bottom: 125px;
}
body .menu-item h3 {
  padding-inline: 1rem;
}
body .menu-item img {
  width: 333px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  -o-object-fit: cover;
     object-fit: cover;
}
body .menu-item p {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  padding-inline-start: 1rem;
  margin-block-start: 32px;
}
body #Space {
  width: 358px;
  height: 473px;
}
body #Space .slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
body #Space .slider .slider-wrap {
  display: flex;
  transition: transform 0.5s ease;
  height: auto;
}
body #Space .slider .slider-wrap-text {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
}
body #Space .slider .slider-wrap-text img {
  width: 236px;
  height: 209px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
body #Space .slider .slider-wrap-text .guide-title {
  display: inline-block;
  font-weight: 900;
  font-size: 15px;
  line-height: 1.1;
  color: #593622;
  border-bottom: 2px solid #593622;
  margin-block-start: 40px;
}
body #Space .slider .slider-wrap-text .guide {
  margin-top: 0.5rem;
  font-size: 14px;
  line-height: 1.6;
  color: #593622;
  font-weight: 700;
  padding-inline: 0.5rem;
}
body #Space .slider .arrow-left,
body #Space .slider .arrow-right {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background: none;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Space .slider .arrow-left img,
body #Space .slider .arrow-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
body #Space .slider .arrow-left:hover,
body #Space .slider .arrow-right:hover {
  opacity: 0.7;
}
body #Space .slider .arrow-left {
  left: 0px;
}
body #Space .slider .arrow-right {
  right: 0px;
}
body #Space::before {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-17px, -64px) rotate(91deg);
}
body #Space::after {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(19px, 63px) rotate(272deg);
}
body #Access {
  height: 1880px;
  max-width: 358px;
}
body #Access .heading {
  margin-block: 0;
  padding: 0;
}
body #Access .access-wrapper {
  width: 100%;
  padding-inline: 1rem;
  text-align: left;
}
body #Access .access-wrapper #instagram-post {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem auto;
  margin-block-start: 3rem;
  overflow: visible;
  flex-shrink: 0;
  min-height: 1px;
}
body #Access .access-wrapper #instagram-post .instagram-media {
  margin: 0 auto !important;
  padding: 0 !important;
}
body #Access .item {
  font-weight: 700;
  font-size: 18px;
  line-height: 10px;
  color: #593622;
  padding-block: 1rem 0.5rem;
  border-bottom: 1px solid #593622;
  display: inline-block;
  width: auto;
  margin-block-start: 1rem;
}
body #Access ul {
  padding: 0;
  padding-inline-start: 1.5rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
body #Access ul li {
  margin-block: 0.5rem;
  padding-block-start: 1rem;
}
body #Access ul li::marker {
  font-size: 10px;
  vertical-align: middle;
}
body #Access ul:last-of-type li:last-child {
  list-style: none;
  padding-left: 0;
}
body #Access #google-map iframe {
  max-width: 100%; /* セクション幅を超えないようにする */
  height: auto;
  aspect-ratio: 1/1;
  margin-block-start: 52px;
  border-radius: 20px;
  border: none;
  overflow: visible;
}
body #Access,
body #instagram-post,
body iframe {
  overflow: visible !important;
}
body #Access::before {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-17px, -64px) rotate(91deg);
}
body #Access::after {
  content: "";
  background-image: url(../images/decoration1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 93.89px;
  height: 149.31px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(19px, 63px) rotate(272deg);
}
body #to-top-btn {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #bfae9f;
  color: #fcf5e3;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s, visibility 0.3s;
}
body #to-top-btn:hover {
  background-color: rgba(85, 6, 179, 0.6);
}
body #to-top-btn.visible {
  display: block;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */