@use '../base/variables' as *;
@use '../vendors' as *;

// ----------------------------------
img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: $color_bg;

  // main {
  //   padding: 2rem;
  // }

  #top-img {
    margin-block-end: 80px;
    img {
      width: 390px;
      height: 680px;
    }
  }

  #Concept {
    background-image: url(../../images/texture2.png);
    background-repeat: no-repeat; /* 画像の繰り返しを指定  */
    width: 340px;
    height: 540px;
    border-radius: 20px;
    margin: 1rem;
    position: relative;

    p {
      font-size: 17px;
      font-weight: $font_medium;
      line-height: 20px;
      padding-inline: $spacing_s;
    }
  }

  // 蔦上部
  #Concept::before {
    content: ''; //空箱用意
    background-image: url(../../images/decoration2.png);
    background-size: contain; //箱に収める
    display: block;
    width: 340px;
    height: 63.38px;
    position: absolute; //起点
    top: -20px; //y軸
  }

  // 蔦下部
  #Concept::after {
    content: ''; //空箱用意
    background-image: url(../../images/decoration2.png);
    background-size: contain; //箱に収める
    display: block;
    width: 340px;
    height: 63.38px;
    position: absolute; //起点
    bottom: -20px; //y軸
    transform: rotateX(180deg); //x軸180度回転
  }

  #Concept-hd {
    font-size: 22px;
    font-weight: $font_black;
    line-height: 34px;
    text-align: center;
    padding-inline: $spacing_s;
    padding-block-start: 85px;
    padding-block-end: 75px;
  }
}
