@use '../base/variables' as *;
@use '../vendors' as *;
@forward '../pages/reservation';

// ----------------------------------
// 独自のフォント指定
@font-face {
  font-family: 'JejuHallasan';
  src: url('../../fonts/JejuHallasan.ttf.woff') format('woff');
}
// ----------------------------------

html {
  scroll-behavior: smooth; //スムーズにスクロールする
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

img {
  // max-width: 100%;
  height: auto;
}

body {
  background-color: $color_bg;

  #top-img {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;

    img {
      width: 390px;
      height: 680px;
      object-fit: contain;

      @media (width <= 800px) {
        margin-block-start: 100px;
      }
    }
  }

  // ---------------------------
  .section-design {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;

    // width: 358px;
    // height: 1027px;
    background-color: $color_sectionBg;
    border-radius: 20px;
    // margin: 1rem;
    margin: $spacing_x auto; //中央寄せ
    color: $color_text;
    text-align: center;
    padding-block: 1rem;
    padding-inline: 1rem;

    position: relative;

    scroll-margin-top: 100px; // ヘッダーの高さに合わせて調整
  }

  // ---------------------------

  // ----------------------------------------------
  // コンセプト欄
  #Concept {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;

    background-image: url(/images/texture2.png);
    background-repeat: no-repeat; //画像の繰り返しを指定
    width: 340px;
    height: 540px;
    border-radius: 20px;
    margin-inline: auto;
    margin-block-end: 20px;
    position: relative;
    color: $color_text;
    scroll-margin-top: 100px; // ヘッダーの高さに合わせて調整

    p {
      font-size: 17px;
      font-weight: $font_medium;
      line-height: 20px;
      padding-inline: $spacing_s;
    }
  }

  // 蔦上部
  #Concept::before {
    content: ''; //空箱用意
    background-image: url(/images/decoration2.png);
    background-size: contain; //箱に収める
    display: block;
    width: 340px;
    height: 63.38px;
    position: absolute; //起点
    top: -20px; //y軸
  }

  // 蔦下部
  #Concept::after {
    content: ''; //空箱用意
    background-image: url(/images/decoration2.png);
    background-size: contain; //箱に収める
    display: block;
    width: 340px;
    height: 63.38px;
    position: absolute; //起点
    bottom: -20px; //y軸
    transform: rotateX(180deg); //x軸180度回転
  }

  #Concept-hd {
    font-size: 22px;
    font-weight: $font_black;
    line-height: 34px;
    text-align: center;
    padding-inline: $spacing_s;
    // padding-block-start: 85px;
    padding-block-end: 75px;
  }

  // -----------------------------------------
  // ボタン
  .Reserve-btn {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;

    .btn {
      display: block;
      width: 236px;
      height: 61px;
      padding-block: 19px;
      padding-inline: $spacing_s;
      text-align: center;
      text-decoration: none;
      font-size: $font_text;
      font-weight: $font_bold;
      line-height: 24px;
      background-image: url(/images/texture1.png);
      color: $color_text;
      border-radius: 50px;
      transition: background-color 0.3s ease; //ホバー時のアニメーション

      // @media (width < 800px) {
      //   margin-inline-end: 0;

      //   @media (width < 430px) {
      //     font-size: $font_text;
      //     margin-block: $spacing_xl;
      //     padding-block: $spacing_s;
      //     padding-inline: 45px;
      //   }
      // }
    }
  }
  .btn:hover {
    background-color: $color_hoverBg; //ホバー背景色
  }

  // ------------------------------------------------
  // サイト上部の店内写真
  #shop-counter {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;

    img {
      width: 390px;
      height: 249px;
      object-fit: cover; //比率保ったまま
    }
  }

  // -------------------------------------------------
  // 予約者限定メニュー欄
  #Special {
    width: 358px;
    height: 1027px;

    img {
      width: 333px;
      height: 503.5px;
      object-fit: cover; //比率保ったまま
      border-radius: 20px;
      margin-bottom: 1rem;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  // 装飾の草　上部
  #Special::before {
    content: ''; //空箱用意
    background-image: url(/images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    top: 0;
    right: 0;

    //位置を調整してから回転させる
    transform: translate(-17px, -64px) rotate(91deg);
  }

  // 装飾の草　下部
  #Special::after {
    content: ''; //空箱用意
    background-image: url(/images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    bottom: 0;
    left: 0;

    //位置を調整してから回転させる
    transform: translate(19px, 63px) rotate(272deg);
  }

  // 見出し
  .heading {
    position: relative;
    top: -35px;
    left: -90px;
    font-family: $font_cp;
    font-size: 36px;
    line-height: 1;
    color: $color_text2;
    margin-bottom: 0.75rem;
    text-shadow: 2px 0 0 #fcf5e3, -2px 0 0 #fcf5e3, 0 2px 0 #fcf5e3,
      0 -2px 0 #fcf5e3, 1.5px 1.5px 0 #fcf5e3, -1.5px 1.5px 0 #fcf5e3,
      1.5px -1.5px 0 #fcf5e3, -1.5px -1.5px 0 #fcf5e3;
  }

  // 商品タイトルと価格を縦並びに
  .SpecialMenu-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
  }

  // 商品タイトル
  .menu-title {
    font-size: 18px;
    font-weight: $font_black;
    line-height: 20px;
    text-align: left; //文字を左端
    margin-bottom: 0.25rem;
  }

  //価格
  .menu-price {
    font-size: 18px;
    font-weight: $font_black;
    line-height: 20px;
    text-align: right; //文字を右端
  }

  // 予約者限定メニューとテイクアウト不可を横並びに
  .menu-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // 予約者限定メニュー文字
  #sp-bottom {
    font-weight: $font_black;
    font-size: 18px;
    line-height: 20px;
    color: $color_text2;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    padding-block-end: 2rem;
    padding-inline-end: 1rem; //横並び文字間隔
    text-decoration: underline wavy; //波線
    text-underline-offset: 2px; //文字と波線の間隔
  }

  //注意書き
  .no-takeout {
    font-weight: $font_bold;
    font-size: 15px;
    line-height: 23px;
    color: #d32929;
    padding-block-end: 1.5rem;
  }

  // ご褒美の太字
  .reward {
    font-weight: $font_bold;
    color: $color_text;
  }

  // なくなり次第終了
  #period {
    color: $color_text;
  }

  // 本文
  p {
    font-size: 14px;
    font-weight: $font_medium;
    line-height: 23px;
    text-align: left; //左に
  }

  // ---------------------------------------------------
  // メニュー欄
  #Menu {
    width: 358px;
    height: 2929px;

    //メニュータイトルと値段の横並び
    .menu-header {
      display: flex;
      justify-content: space-between; // 両端配置
      align-items: flex-end;
      // width: 100%;
      padding-block-end: 1rem;
    }
  }

  // 装飾の草　上部
  #Menu::before {
    content: ''; //空箱用意
    background-image: url(/images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    top: 0;
    right: 0;

    //位置を調整してから回転させる
    transform: translate(-17px, -64px) rotate(91deg);
  }

  // 装飾の草　下部
  #Menu::after {
    content: ''; //空箱用意
    background-image: url(/images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    bottom: 0;
    left: 0;

    //位置を調整してから回転させる
    transform: translate(19px, 63px) rotate(272deg);
  }

  .menu-item {
    margin-bottom: 125px; //各メニュー項目間の縦の余白を調整

    h3 {
      padding-inline: 1rem;
    }

    img {
      width: 333px;
      height: 450px;
      border-radius: 20px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      object-fit: cover; //比率保ったまま
    }

    p {
      font-size: 14px;
      font-weight: $font_medium;
      line-height: 23px;
      text-align: left; //左に
      padding-inline-start: 1rem;
      margin-block-start: $spacing_x;
    }
  }

  // ---------------------------------------------
  // 店内の内装説明欄
  #Space {
    width: 358px;
    height: 473px;

    // 写真とテキスト、両矢印のdiv
    .slider {
      position: relative;
      width: 100%;
      overflow: hidden;
      border-radius: 20px;

      // 写真とテキストを括るdiv部分
      .slider-wrap {
        display: flex;
        transition: transform 0.5s ease;
        height: auto;
      }

      // 写真とテキストの各セット部分
      .slider-wrap-text {
        width: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        height: auto;

        img {
          width: 236px;
          height: 209px;
          object-fit: cover; //比率保ったまま
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        }

        // 下線付きテキスト
        .guide-title {
          display: inline-block; // 下線をテキスト幅に限定
          font-weight: $font_black;
          font-size: 15px;
          line-height: 1.1;
          color: $color_text;
          border-bottom: 2px solid $color_text; //線の太さ・色を自由に設定
          margin-block-start: 40px;
        }

        // 本文テキスト
        .guide {
          margin-top: 0.5rem;
          font-size: 14px;
          line-height: 1.6;
          color: $color_text;
          font-weight: $font_bold;
          padding-inline: 0.5rem;
        }
      }

      // 両矢印部分の設定
      .arrow-left,
      .arrow-right {
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        background: none;
        border: none;
        border-radius: 50%;
        width: 36px; //ボタンのサイズ領域
        height: 36px; //ボタンのサイズ領域
        cursor: pointer;

        z-index: 10; //スライドコンテンツ（通常 z-index: 1 など）よりも大きな値を設定

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%; //親ボタンの幅に合わせる
          height: 100%; //親ボタンの高さに合わせる
          object-fit: contain; //比率維持
          display: block; //imgをボタンに
        }

        &:hover {
          opacity: 0.7; //hover時の演出
        }
      }

      .arrow-left {
        left: 0px;
      }

      .arrow-right {
        right: 0px;
      }
    }
  }

  // 装飾の草　上部
  #Space::before {
    content: ''; //空箱用意
    background-image: url(/images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    top: 0;
    right: 0;

    //位置を調整してから回転させる
    transform: translate(-17px, -64px) rotate(91deg);
  }

  // 装飾の草　下部
  #Space::after {
    content: ''; //空箱用意
    background-image: url(/images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    bottom: 0;
    left: 0;

    //位置を調整してから回転させる
    transform: translate(19px, 63px) rotate(272deg);
  }

  // ---------------------------------------------
  // アクセス欄
  #Access {
    height: 1880px;
    max-width: 358px;

    // h2の箇所
    .heading {
      //マージンをリセットし、下部余白だけを指定
      margin-block: 0;
      padding: 0;
    }

    // 各項目の左揃え調整
    .access-wrapper {
      width: 100%; //親セクションと同じ幅
      padding-inline: 1rem;
      text-align: left;

      // Instagram投稿の部分
      #instagram-post {
        display: flex;
        justify-content: center;
        // display: block;
        width: 100%; // 親要素の幅を使う

        margin: 1rem auto;
        margin-block-start: 3rem;
        overflow: visible;

        flex-shrink: 0; //Flexboxの圧縮を停止
        min-height: 1px; // Flexboxのバグ対策として小さすぎる値で設定

        .instagram-media {
          // ブラウザや親要素から継承されるマージン/パディングをリセット
          margin: 0 auto !important;
          padding: 0 !important;
        }
      }
    }

    // 各項目、見出し部分
    .item {
      font-weight: $font_bold;
      font-size: 18px;
      line-height: 10px;
      color: $color_text;
      padding-block: 1rem 0.5rem;
      border-bottom: 1px solid $color_text; //下線
      display: inline-block; //下線をテキスト幅に
      width: auto;
      margin-block-start: 1rem;
    }

    // 各項目の中身
    ul {
      padding: 0;
      padding-inline-start: 1.5rem;
      font-size: 16px;
      font-weight: $font_bold;
      line-height: 18px;
      text-align: left;

      li {
        margin-block: 0.5rem;
        padding-block-start: 1rem;

        //箇条書きの点のサイズを li の文字サイズに合わせる設定
        &::marker {
          font-size: 10px;
          // -----------------何故か変わらない！！！！！！！！
          vertical-align: middle; //垂直位置を中央に調整する
        }
      }
    }

    // 住所の ul の最後の li のマーカーを消す
    ul:last-of-type li:last-child {
      list-style: none; //非表示
      padding-left: 0; //マーカーが消えたことによる左の余白も消す
    }

    // // Googleマップのiframeのスタイル
    #google-map iframe {
      max-width: 100%; /* セクション幅を超えないようにする */
      height: auto;
      aspect-ratio: 1/1;
      margin-block-start: $spacing_xl;
      border-radius: 20px;
      border: none;
      overflow: visible;
    }
  }

  #Access,
  #instagram-post,
  iframe {
    overflow: visible !important;
  }

  // 装飾の草　上部
  #Access::before {
    content: ''; //空箱用意
    background-image: url(/images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    top: 0;
    right: 0;

    //位置を調整してから回転させる
    transform: translate(-17px, -64px) rotate(91deg);
  }

  // 装飾の草　下部
  #Access::after {
    content: ''; //空箱用意
    background-image: url(/images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    bottom: 0;
    left: 0;

    //位置を調整してから回転させる
    transform: translate(19px, 63px) rotate(272deg);
  }

  // ---------------------------------
  // サイトトップに戻るボタン
  #to-top-btn {
    display: none; //初期状態は非表示に
    opacity: 0; //フェードインとアウトのため初期透明度を0にしておく

    //位置の固定
    position: fixed;
    bottom: 20px;
    right: 20px;

    //ボタンのデザイン
    width: 60px;
    height: 60px;
    background-color: $color_heading;
    color: $color_sectionBg;
    text-decoration: none;
    text-align: center;
    line-height: 60px; //垂直方向の中央揃え
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;

    //アニメーション設定
    transition: opacity 0.3s, visibility 0.3s;

    &:hover {
      background-color: $color_hoverBg; // ホバーで変わる色
    }
  }

  //ボタンが出現した時の状態
  #to-top-btn.visible {
    display: block; // display: none を上書きするため必要
    opacity: 1;
  }
}
