@use '../base/variables' as *;
@use '../vendors' as *;

// ----------------------------------
// 独自のフォント指定
@font-face {
  font-family: 'JejuHallasan';
  src: url('../fonts/JejuHallasan.ttf.woff') format('woff');
}
// ----------------------------------

html {
  scroll-behavior: smooth; //スムーズにスクロールする
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

img {
  // max-width: 100%;
  height: auto;
}

body {
  background-color: $color_bg;

  // ---------------------------------------------
  // タイトル
  #Reservation {
    padding-block-start: 200px;
    font-family: $font_cp;
    color: $color_text;
    font-size: 50px;
    line-height: 18px;
    text-align: center;
    text-shadow: 3px 0 0 #fcf5e3, -3px 0 0 #fcf5e3, 0 3px 0 #fcf5e3,
      0 -3px 0 #fcf5e3, 2px 0 0 #fcf5e3, -2px 0 0 #fcf5e3, 0 2px 0 #fcf5e3,
      0 -2px 0 #fcf5e3, 1px 0 0 #fcf5e3, -1px 0 0 #fcf5e3, 0 1px 0 #fcf5e3,
      0 -1px 0 #fcf5e3, 3px 3px 0 #fcf5e3, -3px 3px 0 #fcf5e3,
      3px -3px 0 #fcf5e3, -3px -3px 0 #fcf5e3, 2.5px 2.5px 0 #fcf5e3,
      -2.5px 2.5px 0 #fcf5e3, 2.5px -2.5px 0 #fcf5e3, -2.5px -2.5px 0 #fcf5e3,
      1.5px 1.5px 0 #fcf5e3, -1.5px 1.5px 0 #fcf5e3, 1.5px -1.5px 0 #fcf5e3,
      -1.5px -1.5px 0 #fcf5e3;

    @media (width >= 800px) {
      padding-block-start: 280px;
    }
  }

  // ---------------------------------------------
  // 予約欄

  .reservation-top {
    width: 100%;
    height: 271px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 195px;
      height: 271px;
      object-fit: cover;
    }
  }

  #Reservation {
    text-align: center;
  }

  .reservation-wrapper {
    max-width: 254px;
  }

  //   --------------------------------
  #Dine-in,
  #Take-out {
    width: 358px;
    // height: 599px;
    min-height: 599px;
  }

  //   ------------------------------------------
  // Dine-in / Take-out のフォーム
  .dinein-block,
  .takeout-block {
    border-radius: 15px;
    // padding: 1.5rem; // ブロック内側の余白
    text-align: left;

    .form {
      max-width: 254px;
      display: flex;
      flex-direction: column;
      gap: 2rem; //フォーム項目間の余白

      label {
        font-size: $font_text;
        font-family: $font_jp2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem; //ラベルテキストと入力欄の間の余白
      }

      input,
      select {
        padding: 1rem 1.5rem; //入力欄の内側の上下
        border: none;
        border-radius: 8px;
        background-color: #fff;
        font-size: $font_text;
        color: $color_text;
      }

      label select {
        text-align: center;
        text-align-last: center;
      }
    }
  }

  // -------------------------
  // ボタン
  button.btn {
    margin-block-start: 30px;
    margin-block-end: 50px;
  }

  // -------------------------------------------
  .menu-serect {
    max-width: 254px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
  }

  // ------------------------------
  // メニュー追加のボタン
  #add-menu-btn {
    color: $color_text;
  }

  // -----------------------------------------
  // 削除ボタン
  .remove-btn {
    color: $color_text;
  }

  //   ------------------------------------------
  // Dine-inの装飾
  // 装飾の草　上部
  #Dine-in::before {
    content: ''; //空箱用意
    background-image: url(../images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    top: 0;
    right: 0;

    //位置を調整してから回転させる
    transform: translate(-17px, -64px) rotate(91deg);
  }

  // 装飾の草　下部
  #Dine-in::after {
    content: ''; //空箱用意
    background-image: url(../images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    bottom: 0;
    left: 0;

    //位置を調整してから回転させる
    transform: translate(19px, 63px) rotate(272deg);
  }

  //   ------------------------------------------
  // Take-outの装飾
  // 装飾の草　上部
  #Take-out::before {
    content: ''; //空箱用意
    background-image: url(../images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    top: 0;
    right: 0;

    //位置を調整してから回転させる
    transform: translate(-17px, -64px) rotate(91deg);
  }

  // 装飾の草　下部
  #Take-out::after {
    content: ''; //空箱用意
    background-image: url(../images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    bottom: 0;
    left: 0;

    //位置を調整してから回転させる
    transform: translate(19px, 63px) rotate(272deg);
  }

  //   -----------------------------------
  // 注意事項欄
  #Attention {
    width: 358px;
    height: 1133px;

    .heading {
      padding-inline-start: 50px;
    }

    .attention-item {
      display: flex;
      flex-direction: column;

      h3 {
        display: inline-block; // 下線をテキスト幅に限定
        align-self: flex-start;
        font-weight: $font_medium; //bold指定にしたいけど、太かったので変更
        font-size: 20px;
        line-height: 25px;
        border-bottom: 2px solid $color_text; //線の太さ・色を自由に設定
        margin-block-start: 40px;
        text-align: left;
      }

      ul {
        padding: 0;
        padding-inline-start: 1.5rem;
        padding-block-start: 2.5rem;
        font-size: 16px;
        font-weight: $font_bold;
        line-height: 24px;
        text-align: left;

        li {
          //箇条書きの点のサイズを li の文字サイズに合わせる設定
          &::marker {
            font-size: 10px;
            // -----------------何故か変わらない！！！！！！！！
            vertical-align: middle; //垂直位置を中央に調整する
          }
        }
      }

      p {
        font-weight: $font_bold;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        padding-block-start: 1.5rem;
      }
    }
  }

  //   ------------------------------------------
  // Attentionの装飾
  // 装飾の草　上部
  #Attention::before {
    content: ''; //空箱用意
    background-image: url(../images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    top: 0;
    right: 0;

    //位置を調整してから回転させる
    transform: translate(-17px, -64px) rotate(91deg);
  }

  // 装飾の草　下部
  #Attention::after {
    content: ''; //空箱用意
    background-image: url(../images/decoration1.png);
    background-size: contain; //箱に収める
    background-repeat: no-repeat; //繰り返しを防ぐ
    display: block;
    width: 93.89px;
    height: 149.31px;
    position: absolute; //起点

    // 基準点を右上に設定
    bottom: 0;
    left: 0;

    //位置を調整してから回転させる
    transform: translate(19px, 63px) rotate(272deg);
  }
}
