@use '_variables' as *;
@use '../vendors/drawer' as *;

// -----------------------------------
// フッター部分

// -----------------------------------
// フッター部分

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  #home-logo {
    .logo {
      width: 60px;
      height: 60px;
      object-fit: contain; // 比率を維持
    }
  }

  .sns-nav img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}
