// 配色変数
$color_text: #5a3821;
$color_bg: #e9ead3;
$color_sectionBg: #fcf5e3;
$color_heading: #bfae9f;
$color_drawerBg: #f8e6e4;
$color_footerBg: #d9d9d9;

// 書体変数
$font_jp: 'Zen Maru Gothic', sans-serif;
$font_jp2: 'Stick', sans-serif;
$font_cp: 'JejuHallasan';
$font_medium: 500;
$font_bold: 700;
$font_black: 900;
$font_heading1: 48px;
$font_heading2: 32px;
$font_heading3: 24px;
$font_text: 16px;

// ボックスモデル変数
$border_r: 32px;

//スペース変数
$spacing_xs: 8px;
$spacing_s: 16px;
$spacing_m: 20px;
$spacing_x: 32px;
$spacing_xl: 52px;
$spacing_2xl: 64px;
$spacing_3xl: 64px;
